*{
    padding: 0;
    margin: 0;
}
a{color: #0f0f0f}
a:visited{color: #0f0f0f}
.user_list a{color: #33CCFF}
.main_box{
    height: 100%;
    background: white;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: block;
}
.top_header{
    height: 45px;
    line-height: 45px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #eaeaea;
    background: #F8F8F8;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}
.header_title{
    text-align: center;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    width: 100%;
}
.header_title .art_active {
    color: #FF2D4B;
}
.header_title a {
    width: 30%;
    display: inline-block;
    font-family: "微软雅黑";
    float: left;
    font-weight:bolder;
}
.head_right{
    float: right;
    width: 40%;
}
.head_right span{
    float: right;
    margin-right: 15px;
    margin-top:10px;
}
.action{
    margin-top: 15px;
    overflow: hidden;
    max-width: 900px;
}
.user_list{
    padding: 10px;
    padding-top: 0px;
    width: 100%;
}
select option{
    height:22px;
    line-height:22px;
    padding:5px;
}
.come0{
    color: #999999;
}
.come1{
    color: #8AC007;
}
.come2{
    color: red;
}
.total{
    padding:0 10px;
}
.total span{
    font-weight:bolder;
}
.foot_fix_top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 35px;
    height: 35px;
    z-index: 20;
    display: none;
}
.offered {
    border-radius: 4px;
    background: #404040;
    color: #fff;
    padding: 3px;
}
.show_time{
    margin-top: 30px;
    max-width: 900px;
    margin-bottom: 20px;
    padding: 0 15px;
}
.hun_tip{
    margin-top:20px;
    text-align: center;
    height: 30px;
    line-height:30px;
    font-size:16px;
    font-weight:bolder;
}
.name_sty{
    font-size: 10px;
}
.mobile_sty{
    font-size: 10px;
    word-wrap: break-word;
    width: 50px;
    white-space: '';
}
.user_list table .one_row .show_hotal,.user_list table .one_row .show_comming{
    marging-top: 18px;

}
table td{
    text-align: center;
}
.mobile_sty a{
    color: #5BC0DE;
}
table tbody{
    font-size: 10px;
}
.hongbao{
    border: 1px solid #ccc;
    text-align: center;
    width: 50px;
    padding: 5px;
    border-radius: 6px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#poptip {
    position: absolute;
    width:100%;
    height: 1600px;
    display: block;
    background:#000;
    opacity: 0.3;
    filter:alpha(opacity=0.3);
    color:#fff;
    z-index: 99998;
    left:0px;
    top:0px;
}
#poptip_content {
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    position: absolute;
    top:30%;
    left:50%;
    min-height: 15px;
    padding: 15px;
    width:160px;
    margin-left:-80px;
    color:#fff;
    text-align:center;
    font-size:14px;
    z-index: 99999;
    line-height:30px;
}
.tip_success{
    color: rgb(255, 255, 255);
    background-color: #E23C3D;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 2.2);
}
.tip_danger{
    color: rgb(255, 255, 255);
    background-color: #f59f25;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 2.2);
}